.table{
    border: 1px solid black;
    display: table;
    
}
.caption{
    
    display: table-caption;
    text-align: center;
}
.header{
    display: table-header-group;
}
.body{
    display: table-row-group;
}
.row{
    display: table-row;
}
.cell{
    display: table-cell;
    padding-right: 10px;
}
.footer{
    display: table-footer-group;
}