body {
    padding:0;
    margin:0;
    background-color:Highlight;
}
.Navigator {
    background-color: gray;
    overflow:hidden;
    
}
    .Navigator a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
.Navigator a:hover {
            background-color: black;
            color: palegoldenrod;
        }
.Navigator a.active {
            background-color: #4CAF50;
            color: white;
        }
.News{
   
    background-color:cadetblue;
    width:188.64px;
    height:500px;

}
.Footer {
height:10px;
background-color:cadetblue;
font-family:Arial;

font-size:11px;
}
.form {

position:absolute;
right:5px;
}
.Dynamic {
    position: absolute;
    top: 50px;
    left: 188.64px;
    font-size: 30px;
    font-style: normal;
    width:1000px;
    display:block;
    height:auto;
    
   
    

}
    .Dynamic p {
        padding: 0;
       margin:0;
    }
.child {
    
    position: relative;
    top: 50px;
    margin:auto 400px;
}